{{page-title "Candidates"}}
{{outlet}}

<h1>Listing candidates</h1>

<ul class="candidates">
  {{#each this.model as |candidate|}}
  <li>
    <h2>{{candidate.name}}</h2>
    <p>Age: {{candidate.age}}</p>
  </li>
  {{else}}
  <li>No records found</li>
  {{/each}}
</ul>

{{#if this.showAddForm}}
  <AddCandidate @onCancel={{this.toggleAddNew}} @onAdded={{this.candidateAdded}}/>
{{else}}
  <button type="button" {{on 'click' this.toggleAddNew}} >Add new</button>
{{/if}}
